<%- include ('./partials/header.ejs') %> <!--importando partials com EJS-->
<%- include ('./partials/navbar.ejs') %> 

<body>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p> <%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/answer">
            <br>
            <h3>Responda:</h3>
            <textarea placeholder="Digite sua resposta aqui" class="form-control" name="corpo"></textarea>
            
            <!--campo hidden = campo escondido-->
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">

            <button type="submit" class="btn btn-primary" style="margin-top: 2vh;">Responder</button>
        </form>
        <br>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% respostas.forEach(resposta =>{%>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
            <br>
            <% }) %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>